<div class="brands" id="paginated">

    <div class="row">
        {% for brand in __SELF__.brands %}
        <div class="item col-md-{{ columnSize }}">
            <a href="{{ brand.url }}">
                {% if brand.logo %}
                <img src="{{ brand.logo.getThumb(logoWidth, logoHeight, 'auto') }}" alt="{{ brand.name }}" class="img-responsive" />
                {% endif %}
                {{ brand.name }}
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        {% partial __SELF__ ~ "::paginating" items=__SELF__.brands pagePath=__SELF__.pagePath %}
    </div>

</div>
