{% if items.lastPage > 1 %}
<div class="pagging">
    {% if items.currentPage > 1 %}
    <a href="{{ url(pagePath) }}{% if currentPage > 1 %}?page={{ items.currentPage-1 }}{% endif %}#paginated">&lt; Previous</a>
    {% endif %}

    {% for page in 1..items.lastPage %}
    <a
        href="{{ url(pagePath) }}{% if page > 1 %}?page={{ page }}{% endif %}#paginated"
        {% if items.currentPage == page %} class="active"{% endif %}>{{ page }}</a>
    {% endfor %}

    {% if items.lastPage > items.currentPage %}
    <a href="{{ url(pagePath) }}?page={{ items.currentPage+1 }}#paginated">Next &gt;</a>
    {% endif %}
</div>
{% endif %}
